@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}


:root{
  --colorBlack:black;
  --colorBlue: #2E9F62;
  --colorWhite:white;
  --colorDefault:#232830;
  --colorGray:#15191F;
  --colorDarkGray:rgb(199, 199, 199);
  --colorGreen:rgb(0, 255, 0);
  --colorRed:red;
  --colorNormalGray:rgb(131, 130, 130);
}

h2{
  color: var(--colorWhite);
}

span{
  color: var(--colorWhite);
}

.flex{
  display: flex;
  align-items: center;
}

button:hover{
  cursor: pointer;
}

/*COMPONENTS*/

/*BUTTON*/
.button{
  width: 170px;
  height: 50px;
  color: var(--colorWhite);
  background-color: var(--colorBlue);
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.secondButton{
  background-color: transparent;
  border: 2px solid var(--colorWhite);
  width: 180px;
}

.addButton{
  background-color: var(--colorBlue);
}

.deleteButton{
  background-color: var(--colorRed);
}

.deleteImageButton{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid red;
  background-color: red;
  color: var(--colorWhite);
  font-weight: 900;
  justify-content: center;
  font-size: 10px;
}

.button:hover{
  transition: 0.2s ease-in-out;
  background-color: var(--colorBlack);
}

.editButton{
  width: 120px;
  height: 40px;
  background-color: var(--colorBlue);
  border: none;
  color: var(--colorWhite);
  font-weight: 400;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.editButton span{
  width: auto;
  text-align: start;
  flex: 0 !important;
}

.editButton:hover{
  background-color: var(--colorBlack);
  transition: 0.2s;
  cursor: pointer;
}

.deleteItemButton{
  width: 120px;
  height: 40px;
  border: none;
  color: var(--colorWhite);
  font-weight: 400 !important;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.deleteItemButton{
  background-color: var(--colorDefault);
  outline: 1px solid var(--colorWhite);
}

.custom-file-upload{
  color: white;
}
.custom-file-upload::file-selector-button{
  border: 2px solid var(--colorWhite);
  padding: 10px 15px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 5px;
  font-size: 15px;
  color: var(--colorWhite);
  font-weight: 600;
}

/*INPUT*/
.input-flex{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: start;
  justify-content: start;
}

.autocomplete-suggestions{
  width: 80%;
  max-height: 150px;
  outline: var(--colorGray);
  background-color: var(--colorDefault);
  display: none;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  outline: 2px solid var(--colorBlue);
  transition: 0.2s;
  overflow-y: scroll;
}

.autocomplete-suggestions::-webkit-scrollbar{
  width: 5px;
  background-color: var(--colorDefault);
}
.autocomplete-suggestions::-webkit-scrollbar-thumb {
  background: var(--colorBlue);
  border-radius: 20px;
}

.buttonFlex{
  width: 100%;
  gap: 50px;
  align-items: start;
}

.autocomplete-suggestions div{
  gap: 15px;
  border-bottom: 1px solid var(--colorGray);
  padding: 10px 5px;

}

.autocomplete-suggestions div:hover{
  cursor: pointer;
}

.autocomplete-suggestions div:hover{
  background-color: var(--colorGray);
}

.autocomplete-suggestions span:first-child{
  color: var(--colorWhite);
  font-weight: 600;
  font-size: 14px;
}

.autocomplete-suggestions span:last-child{
  color: var(--colorBlue);
  font-size: 14px;
}

.input-flex label{
  color: var(--colorBlue);
  font-weight:600;
  font-size: 14px;
}

.input-flex input[type='checkbox'] {
  width: 15px;
  outline: none;
  margin-bottom: 10px;
}

.checkbox-input{
  margin-right: 10px;
}


.input-flex input{
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: none;
  border-radius: 5px;
  outline: 2px solid var(--colorBlue);
  background-color: transparent;
  color: var(--colorWhite);
}


.input-flex select{
  width: 100%;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 5px;
  outline: 2px solid var(--colorBlue);
  background-color: transparent;
  color: var(--colorWhite);
}


.input-flex textarea{
  width: 100%;
  height: 130px;
  padding-left: 15px;
  padding-top: 15px;
  border: none;
  border-radius: 5px;
  outline: 2px solid var(--colorBlue);
  background-color: transparent;
  color: var(--colorWhite);
}

/*ITEM*/
.item{
  display: flex;
  align-items: center;
  width: 100%;
  background-color: var(--colorDefault);
  box-shadow: 8px 8px 10px rgba(0,0,0,0.05);
  height: 70px;
  padding: 0px 15px;
  justify-content: space-between;
  border-radius: 5px;
  border-left: 2px solid var(--colorBlue);
}

.item h2{
  color: var(--colorBlue);
  font-weight: 600;
  font-size: 14px !important;
  justify-self: start;
}

.itemContainer{
  flex: 1;
}

.itemInfo{
  flex: 1;
}

.item input{
  text-align: center;
  width: 90px;
  height: 30px;
  background-color: transparent;
  color: var(--colorWhite);
  border-radius: 5px;
  outline: 2px solid var(--colorBlue);
  border: none;
}

.item select{
  height: 30px;
  width: 110px;
}

.item span{
  color: var(--colorWhite);
  font-size: 14px;
}
.item img{
  height: 20px;
  filter: invert(100%);
}

.item img:hover{
  cursor: pointer;
  filter: invert(50%);
  transition: 0.1s;
}

.stockName{
  flex: 1;
  text-align: center;
}

.stockInfo{
  flex: 1;
  text-align: center;
}

.item_icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.item_icons img{
  filter: invert(100%);
  height: 27px;
}

.item_inputs{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  flex: 3;
}

.item_inputs div{
  gap: 0;
  width: auto;
}
/*ALERTBOX*/
.alertPage{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.3);
  position: fixed;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.alertBox{
  background-color: var(--colorBlue);
  min-width: 350px;
  margin-top: 25px;
  z-index: 5;
  padding: 25px;
  border-radius: 15px;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  outline: 2px solid var(--colorWhite);
  align-self: start;
  justify-self: start;
  z-index: 999;
}
.alertBox p{
  color: var(--colorWhite);
}

.alertBox button{
  width: 100px;
  height: 40px;
  outline: 2px solid var(--colorWhite);
  align-self: flex-end;
  background-color: transparent;
  color: var(--colorWhite);
  border: none;
  font-weight: 600;
  border-radius: 5px;
}

.alertBox button:hover{
  background-color: var(--colorDefault);
  transition: 0.2s;
}
/*PAGE*/
.page{
  width: 100%;
  height: 100%;
  padding: 25px 0px;
  transition: 0.2s;
  flex-direction: column;
  gap: 25px;
}

.page-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 15px 0px;
}

.page-header h2{
  font-size: 20px;
}

.page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 25px;
}

.page-container h2{
  font-size: 18px;
}


.info-block{
  color: var(--colorWhite);
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--colorDefault);
  width: 100%;
  padding: 25px;
  border-radius: 5px
}

/*FORM*/
.form{
  width: 100%;
  background-color: var(--colorDefault);
  border-radius: 5px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 30px 30px;
  min-width: 370px;
  height: 100%;
}



.form h2{
  width: 80%;
  font-size: 20px;
}

.form-container{
  width: 100%;
  gap: 25px;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.form-block{
  width: 80%;
  background-color: var(--colorDefault);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.form-block button{
  align-self: start;
}

.Images{
  flex-direction: row;
}

#ImageBox{
  width: 45%;
}

.main-image{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: 1px solid var(--colorWhite);
}

.main-image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.addImage{
  flex-direction: row;
  padding: 5px 0;
  justify-content:start;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.Images{
  width: 100%;
  align-items: start;
  justify-content: start;
  gap: 15px;
}
.Images img{
  width: 120px;
  height: 100px;
  border-radius: 5px;
}

.Images img:hover{
  cursor: pointer;
}

.Images div{
  gap: 10px;
}


/*LIST*/
.list{
  height: 80%;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  border-radius: 5px;
  position: relative;
}

.table-row{
  width: 100%;
}




/*LoginPage*/
.LoginPage{
  width: 100%;
  height: 100vh;
  background: linear-gradient(80deg, var(--colorBlue), var(--colorGray));
  justify-content: center;
}
.loading{
  border: 6px solid rgba(0, 0, 0, 0.1); /* Světlejší šedá s průhledností */
  border-top: 8px solid var(--colorBlue); /* Modrá barva */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s ease-in-out infinite; /* Hladší animace */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}



/* Klíčové snímky animace rotace */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Počáteční rotace */
  }
  100% {
    transform: rotate(360deg); /* Konec rotace */
  }
}


.loadingPage{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--colorGray);
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.loginForm{
  width: 100%;
  background-color: var(--colorDefault);
  border-radius: 5px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
  min-width: 350px;
}
.LoginDiv{
  width: 620px;
  height: 750px;
  background-color: var(--colorDefault);
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  border: 2px solid var(--colorBlue);
}
.LoginDiv h2{
  font-size: 30px;
  font-weight: 900;
}
.LoginDiv p{
  font-size: 16px;
  color: var(--colorWhite);
}

.LoginForm{
  flex-direction: column;
  width: 90%;
  gap: 20px;
}

.LoginForm span{
  color: var(--colorBlue);
}

.resetPasswordSpan{
  align-items: end;
  justify-content: flex-end;
  width: 80%;
  text-align: end;
}

.resetPasswordSpan span{
  color: var(--colorBlue);
}


.formLink{
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.formLink:hover{
  color: var(--colorBlue);
  transition: 0.2s;
}

.LoginForm input{
  height: 50px;
  width: 100%;
  border: 1px solid var(--colorDarkGray);
  border-radius: 5px;
  padding: 20px;
}
.LoginForm input::placeholder{
  font-size: 17px;
  font-weight: 600;
  color: var(--colorDarkGray);
}
.LoginForm input[type = "submit"]{
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  font-size: 18px;
  padding: 0;
}

/*NAVBAR*/
nav{
  width: 100%;
  justify-content: space-between;
  height: 100px;
  padding: 0px 25px;
  z-index: 3;
  position: fixed;
  background-color: var(--colorDefault);
}

nav img{
  height: 80px;
  border-radius: 10px;
}
nav img:hover{
  cursor: pointer;
}
nav ul{
  list-style: none;
  gap: 25px;
}
.logo{
  font-size: 20px;
  color: var(--colorWhite);
  font-weight: 800;
  text-align: center;
}
nav ul li a{
  color: var(--colorBlack);
  font-size: 15px;
  font-weight: 600;
}

.profile-container{
  justify-content: center;
  align-items: center;
}

.profile-container span{
  padding: 5px 15px;
  background-color: var(--colorBlue);
  border-radius: 50px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  left: 20px;
}

.connect{
  width: 20px;
  height: 20px;
  background-color: var(--colorBlue);
  position: relative;
  left: 10px;
}

.profile{
  height: 50px;
  width: 50px;
  background-color: var(--colorBlue);
  justify-content: center;
  border-radius: 50%;
}

.profile img{
  height: 75%;
  filter: invert(100%);
}

.menu{
  width: 25px;
  flex-direction: column;
  gap: 3px;
  display: none;
}

.menu span{
  height: 2px;
  width: 100%;
  background-color: var(--colorBlue);
}


/*aside*/
aside{
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  padding-top: 95px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
  z-index: 2;
  background-color: var(--colorDefault);
  flex-direction: column;
  justify-content: start;
}
aside ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 20px;
  width: 100%;
}

aside ul:last-child{
  border-top: 1px solid var(--colorWhite);
  margin-top: 25px;
  padding-top: 15px;
}

aside ul li{
  width: 100%;
  padding: 10px 25px;
}

aside ul li img{
 filter: invert(100%);
}
aside ul li span{
  display: flex;
  justify-content:start;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
aside ul li span:hover{
  cursor: pointer;
}
.asideLogoDiv{
  width: 100%;
  border-bottom: 1px solid var(--colorWhite);
  gap: 10px;
  font-size: 18px;
}

.asideLogoDiv p{
  padding-left: 25px;
  padding-bottom: 15px;
  color: var(--colorWhite);
  font-weight: 700;
}

.asideIcon{
  height: 22px;
}


.aside ul li.active {
  background-color: var(--colorBlue); 
  color: white;
  border-radius: 0px;
  transition: 0.2s;
}


.Content{
  position: absolute;
  background-color: var(--colorGray);
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  padding: 100px 30px 30px 330px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}



/*Customer*/
.Customer{
  width: 400px;
  aspect-ratio: 9/13;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
  background-color: var(--colorDefault);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.Customer h2{
  font-size: 20px;
}

.CustomerForm{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 85%;
}

.formDiv{
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.CustomerForm input{
  width: 100%;
  background-color: var(--colorGray);
  border: none;
  height: 50px;
  text-align: center;
}

.CustomerForm textarea{
  width: 100%;
  background-color: var(--colorGray);
  border: none;
  height: 150px;
  text-align: center;
  padding: 10px;
}


/*OrderPage*/
.OrderPage{
width: 100%;
height: 100%;
display: flex;
justify-content: space-between;
padding: 50px;
}


/*Product Page*/
.ProductPage{
  width: 98%;
  height: 100%;
  margin: 0 auto;
  gap: 15px;
}

/*INFO HEADER -- INFO ABOUT THE PAGE*/
.InfoHeader{
  width: 100%;
  padding: 30px;
  border-radius: 5px;
  background-color: var(--colorDefault);
}

.InfoHeader h2{
  color: var(--colorWhite);
  font-size: 23px;
}

/*HEADER-----------------*/
.ProductPageNav{
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 5px;
  gap: 5px;
}

.StockPageNav{
  width: 100%;
  background-color: var(--colorDefault);
  flex-direction: column;
  padding: 20px 30px;
  border-radius: 5px;
}

.ProductPageNavTitles{
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 17px;
  width: 100%;
  border-radius: 5px;
  border-bottom: 2px solid var(--colorBlue);
  background-color: var(--colorDefault);
  margin-bottom: 2px;
}

.ProductPageNavTitles span{
  font-size: 13px;
  font-weight:600;
  color: var(--colorWhite);
  flex: 1;
  text-align: center;
}

.searchbarHeader{
  width: 100%;
  border-radius: 5px;
  justify-content: space-between;
  background-color: var(--colorDefault);
  padding: 10px;
  flex-direction: row;
  margin-bottom: 15px;
}

.searchbarInputs{
  height: 100%;
  gap: 15px;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

.searchbarInputs div{
  width: auto;
}

.searchbarHeader input{
  width: 300px;
  border: none;
  border-radius: 5px;
  padding-left: 15px;
}

.searchbarHeader select{
  width: 300px;
  border: none;
}


.searchbarContainer{
  width: 250px;
  gap: 5px;
  background-color: var(--colorWhite);
  border-radius: 5px;
  padding-right: 15px;
  height: 35px;
  margin-right: 15px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}

.searchbarContainer img{
  height: 20px;
}

/*PRODUCT COMPONENT-----------------------------------------*/
.Product{
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0px 15px 0px 15px;
  background-color: var(--colorDefault);
  height: 70px;
  border-radius: 5px;
  border-left: 2px solid var(--colorBlue);
}
.ProductContainer{
  justify-content: center; 
  align-items: center;
  height: 100%;
  width: 95%;
}
.ProductName{
  height: 100%;
  flex: 1;
  margin-left: 3px;
  justify-content: start;
  align-items: center;
  gap: 15px;
}


.Product h3{
  color: var(--colorBlue);
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.Product span{
  color: var(--colorWhite);
  font-size: 14px;
  font-weight: 400;
  flex: 1;
  text-align: center;
}

.ProductName{
  flex: 1; 
}
.ProductName span{
  color: var(--colorBlue);
  font-weight: 700;
  font-size: 15px;
}
.Product img{
  height: 85%;
  width: auto;
  border-radius: 5px;
}

.products_icons img{
  filter: invert(100%);
  height: 25px;
}

.Product img:hover{
  cursor: pointer;
}


/*Products*/
/*Add product*/


.AddProductPage{
  gap: 20px;  
  align-items: start;
  flex-direction: column;
  padding: 30px 0;
  width: 100%;
  min-height: 100vh;
}


.AddProductPageContainer{
  align-items: start;
  gap: 20px; 
  width: 100%;
  height: 100%;
}

.h2{
  font-size: 20px;
}

.Stock{
  flex-direction: column;
  width: 100%;
  border-radius: 15px;
  gap: 15px;
}

.Stock h2{
  font-weight: 800;
  color: var(--colorBlue);
  font-size: 16px;
  align-self: start;
}


.ProductInfoForm{
  flex-direction: column;
  gap: 25px;
  width: 90%;
}

.ProductImages{
  width: 80%;
  aspect-ratio: 10/6.5;
  background-color: var(--colorDefault);
  flex-direction: column;
  border-radius: 30px;
  gap: 40px;
  box-shadow: 8px 8px 10px rgba(0,0,0,0.1);
  padding: 30px 0px;
}
.ProductImagesForm{
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.ProductImages button{
  margin-top: 0px;
}
.ProductImagesForm input::file-selector-button{
  border: 2px solid var(--colorWhite);
  color: var(--colorWhite);
  background-color: transparent;
  width: 110px;
  height: 40px;
  font-weight: 500;
  border-radius: 5px;
}

.ProductImagesForm input{
  width: 200px;
}

.ProductImagesContainer{
  width: 100%;
  padding: 0px 50px;
}

.ProductImagesContainer img{
  width: 200px;
}

/*Category*/
.products_icons{
  gap: 15px;
  justify-content: end;
  align-items: center;
}


/*Activate Page*/
.ActivatePage{
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(0deg, var(--colorBlue), var(--colorWhite));
}

.ActivatePageContainer{
  background-color: var(--colorWhite);
  width: 30%;
  aspect-ratio: 16/16;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.2);
  border-radius: 25px;
}

.ActivatePageInput{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 10px;
}

.ActivatePageInput label{
  color: var(--colorBlue);
  align-self: start;
}

.ActivatePageInput input{
  height: 50px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorDarkGray);
  width: 100%;
  padding-left: 20px;
  border-radius: 15px;
}

.ActivatePageInput input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color: var(--colorDarkGray);
}

.ActivatePageContainer button{
  width: 90%;
  height: 50px;
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  border: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 15px;
}

/*Employeee*/
.editNameFlex{
  width: 100%;
  gap: 50px;
}
select{
  color: black;
}
option{
  color: black;
}

select{
  height: 70px;
  border: 1px solid var(--colorDarkGray);
}

/*Profile Employee*/
.profileName{
  gap: 15px;
}

.profileName img{
  height: 50px;
  filter: invert(50%);
}

.employee_info{
  gap: 25px;
}


/*Stock*/
.StockProducts{
  width: 60%;
  height: 100%;
  flex-direction: column;
  gap: 25px;
  align-items: start;
}

.StockProducts h2{
  font-size: 16px;
  color: var(--colorBlue);
}

.stockHeader{
  justify-content: space-between;
}

.stockHeader span{
color: var(--colorWhite);
font-weight: 700;
}

.StorckProductsEdit{
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
  gap: 100px;
}

.FullStock{
  width: 100%;
  height: 70px;
  background-color: transparent;
  justify-content: space-between;
}

.FullStock img{
  height: 100%;
  width: 100%;
}

.FullStockProduct{
  justify-content: space-between;
  align-items: center;
  width: 100%;
 background-color: var(--colorDefault);
 padding: 0px 15px 0px 0px;
 transition: 0.2s;
 box-shadow: 2px 3px 10px rgba(0,0,0,0.05);
 transition: 0.2s;
}
.ProductStockName{
  height: 100%;
  width: 30%;
 gap: 30px;
}


.StockForm{
  height: 100%;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 40%;
  gap: 20px;
  background-color: var(--colorDefault);
  padding: 25px;
  border-radius: 10px;
}


/*Positions*/

.PositionPageHeader{
  width: 100%;
  display: flex;
  align-items: start;
  height: 100px;
  flex-direction: column;
  height: 130px;
  gap: 15px;
}

.PositionPageHeader input{
  width: 300px;
}

.PositionPageHeader select{
  width: 300px;
}

.positionDiv{
  gap: 25px;
  flex-wrap: wrap;
}

.positionDiv div{
  width: auto;
}
.positions{
  width: 100%;
  background-color: var(--colorDefault);
  border-radius: 5px;
  padding: 25px;
  gap: 15px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.positions h2{
  font-size: 20px;
}
.positionsContainer{
  gap: 25px;
  flex-wrap: wrap;
}
.position{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: var(--colorBlue);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.positiondAdd{
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.editInput select{
height: 62px;
}
.positionInput{
  width: 40%;
}
.positionInput input{
  width: 100%;
}

.positionInput select{
  width: 100%;
}

.positiondAdd button{
  align-self: end;
}


.Positions{
  width: 100%;
  margin-top: 70px;
  gap: 15px;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}


/*StockInPage*/
.StockCard{
  width: 100%;
  height: 70px;
  background-color: var(--colorDefault);
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 5px;
}

.StockCard span{
  flex: 1;
  text-align: center;
  font-size: 14px;
}

.stockInfoImg{
  flex: 1;
  justify-content: center;
}

.StockCard img{
  height: 30px;
}


/*Movements*/
.movements_flex{
  gap: 15px;
  align-items: start;
}

.StockHeader{
  width: 100%;
  background-color: var(--colorBlue);
  padding: 20px 20px;
}

.StockHeader h2{
  color: var(--colorWhite);
  font-size: 18px;
}

.Moves{
  width: 80%;
  height: 100%;
  border-radius: 25px;
  align-items: start;
  gap: 15px;
}
.ProductStockHeader{
  background-color: var(--colorBlue);
  color: var(--colorWhite);
  width: 100%;
  font-size: 10px;
  padding: 15px 20px;
}


.flex-100{
  width: 100%;
  justify-content: space-between;
  gap: 25px;
}

.negative{
  color: red;
}

.positive{
  color: greenyellow;
}

.background-form{
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.background-form .StockForm{
  height: 300px;
  margin-left: 10%;
}

.toggle-container {
  margin: 10px 0;
}

.toggle-label {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}